@mixin bleedElement($position: relative) {
	position: $position;
	width: 100vw;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	overflow-x: hidden;
}

@mixin resetBleedElement {
	width: 100%;
	margin: 0;
	left: inherit;
	right: inherit;
}

// scss-lint:disable QualifyingElement
figure.jonnitto-nodetypes-image,
.jonnitto-nodetypes-image figure {
	&,
	> div,
	> a {
		width: 100%;
		display: block;
	}
}

.jonnitto-nodetypes-image {
	figcaption {
		margin: 0.3em 0;
	}

	.img-plain {
		max-width: 100%;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;

		flex: 0 0 auto;
		align-self: center;
		object-fit: scale-down;

		&[src$='.svg'] {
			object-fit: fill;
			width: 100%;
		}

		&.img-bleed {
			width: 100%;
			object-fit: contain;
		}
	}

	&.image-bleed {
		@include bleedElement;
	}
}

.neos-contentcollection .neos-contentcollection .jonnitto-nodetypes-image.image-bleed {
	@include resetBleedElement;
}
